@font-face {
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 200;
  src: local('Mukta-Light'), url('/static/fonts/Mukta-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Mukta-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Mukta-Regular'), url('/static/fonts/Mukta-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Mukta-Medium';
  font-style: normal;
  font-weight: 500;
  src: local('Mukta-Medium'), url('/static/fonts/Mukta-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Mukta-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: local('Mukta-SemiBold'), url('/static/fonts/Mukta-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Mukta-Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Mukta-Bold'), url('/static/fonts/Mukta-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Mukta-ExtraBold';
  font-style: normal;
  font-weight: 800;
  src: local('Mukta-ExtraBold'), url('/static/fonts/Mukta-ExtraBold.ttf') format('truetype');
}
